
/* ================== global style ============ */

body
{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container
{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 60;
}

h1
{
  margin: 0;
  text-align: center;
  padding: 60px;
  padding-bottom: 10px;
  font-size: 100px;
  color: #f7fff7;
}

h2, h3
{
  margin: 0;
  padding: 20px;
}

p, h2, h3, a
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  font-weight: 400;
  line-height: 1.4em;
}

/* ======================= header styles ===================== */

header
{
  background: #343434;
}

header p
{
    color: #f7fff7;
    text-align: center;
    padding-bottom: 60px;
    margin: 0 auto;
    font-size: 24px;
}

/* ====================== donate section styles ======================= */

.donate-section
{

  background-color: #f7fff7;
}

.donate-section p
{
  padding: 30px;
}


.donate-button
{
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid #343434 ;

}

.donate-box
{
  height: 320px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #343434;
  border-radius: 36px;
  margin: 10px auto;
}
form
{
  width: 180px;
  margin-left: 110px;
  align-items: center;
  justify-content: center;
}
.donate-box img
{
  height: 150px;
  width: 150px;
  padding: 20px 125px;
}

.button
{
  margin: 10 auto;
}

/* ====================== about us styles ============================= */

.about-us
{
  background: black;
  color: #f7fff7;
}

.about-us .container
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about-us h2
{
  padding-bottom: 0;
}


.about-us img
{
  padding-top: 20px;
  height: 450px;
  width: 350px;
  grid-row: 1/3;
  grid-column: 2/3;
}

.about-us p
{
  text-align: justify;
  grid-row: 1/3;
  grid-column: 1/2;
  padding: 20px;
}


/* ======================= footer styles ============================= */

footer
{
  background: #343434;
  height: 110px;
  color: #f7fff7;
  margin: 0;
}


footer p
{
  padding: 30px;
}
